* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
}

#home {
    height: 100vh;
    background: url("./—Pngtree—memphis\ pink\ playful\ abstract\ portfolio_1347355.png");
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin: 0 30px;
}

.nav-title {
    margin-top: 10px;
}

.nav-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
}

.hero {
    margin: auto;
    width: 40%;
    font-size: large;
}

.hero-content {
    margin: 50% 0;
}

#about {
    height: 100vh;
    background: url("./—Pngtree—abstract\ memphis\ playful\ portfolio\ pink_1347360.png");
    background-size: cover;
}

ul{
    list-style-type: none;
}

li{
    margin: 10px;
}

a{
    color: #000;
    text-decoration: none;
}
